<!DOCTYPE html>
<html>
<head>
    <title>Anacapa Grader alpha</title>
</head>
<body>
    <p id="comingSoon">Coming Soon!</p>
     <% if current_user %>
       <button id="logoutButton">Logout</button>
     <% else %>
       <%= link_to  user_github_omniauth_authorize_path do %>
          Login
        <% end %>
     <% end %>
</body>
</html>